@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.appview-container .main .block-container{
       padding-left:0;
        padding-right: 0;
    padding-top: 0;
}
[data-testid="stHeader"]{
    display: none;
}

/* All the file uploader*/
[data-testid='stFileUploader'] section {
    padding: 20px;
    width: 20vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Description file uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"] > input + div {
    display: none;
}
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;
}


/*Train Dataset file uploader*/

div[data-testid='stFileUploader'] > section[aria-label="Upload Train Dataset"] > input + div {
    display: none;
}

div[data-testid='stFileUploader'] > section[aria-label="Upload Train Dataset"]{
    width:100%;
    padding: 0;
    height: 10%;
    background-color: transparent;
}
section[aria-label="Upload Train Dataset"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#18A0FB;
        font-family: "Inter", sans-serif;
        &::after {
            line-height: initial;
            content: "Upload Train Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }

/*Test Dataset Uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload Test Dataset"] > input + div {
    display: none;
}
div[data-testid='stFileUploader'] > section[aria-label="Upload Test Dataset"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;

}
section[aria-label="Upload Test Dataset"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#18A0FB;
        font-family: "Inter", sans-serif;
        &::after {
            line-height: initial;
            content: "Upload Test Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }
/*Sample Output Dataset Uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload Sample Output Dataset (Optional)"] > input + div {
    display: none;
}

div[data-testid='stFileUploader'] > section[aria-label="Upload Sample Output Dataset (Optional)"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;
}
section[aria-label="Upload Sample Output Dataset (Optional)"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#18A0FB;
        text-align: left;
        font-family: "Inter", sans-serif;
        &::after {
            line-height: initial;
            content: "Upload Sample Output Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }


/*Task Description File Uploader*/
section[aria-label="Upload task description file"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 4px;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 100%;
        font-family: "Inter", sans-serif;
        &::after {
            line-height: initial;
            content: "Upload Task Description File";
            text-indent: 0;
            font-weight: normal;
      }
    }

/* Run Button*/
div.row-widget.stButton{
    display: flex;
    justify-content: flex-start;
    width: max-content;
    padding: 0;
    align-items: center;
}

div.row-widget.stButton > button[data-testid='baseButton-secondary']{
    background: #FFA63D;
    border: 0.75px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.75px 0.75px rgba(0, 0, 0, 0.16);
    border-radius: 3.75px;
    width: 8rem;
    height: 2rem;
}
div.row-widget.stButton > button[data-testid='baseButton-secondary'] > div > p{
        font-weight: bold;
}

/*Download button*/
div.row-widget.stDownloadButton > button[data-testid='baseButton-secondary']{
    background: #FFA63D;
    border: 0.75px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.75px 0.75px rgba(0, 0, 0, 0.16);
    border-radius: 3.75px;
    width: 15rem;
    height: 2rem;
}
div.row-widget.stDownloadButton > button[data-testid='baseButton-secondary'] > div > p{
        font-weight: bold;
}

.stFileUploaderFile {
    display: none
}

/* preview.py */
.file-view-bar {
    background-color: #f0f2f6;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    margin-top:0;
}
.file-view-label {
    font-weight: bold;
    color: #555;
}

/*select box*/
 div[data-baseweb="select"] {
        margin-bottom: 15px;
    }
div[data-baseweb="select"] > div {
    border: none !important;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div[data-baseweb="select"] > div:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
