.appview-container .main .block-container{
        padding-left: 10rem;
        padding-right: 10rem;
}

/* All the file uploader*/
[data-testid='stFileUploader'] section {
    padding: 20px;
    /*float: center;*/
    width: 20vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Description file uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"] > input + div {
    display: none;
}
div[data-testid='stFileUploader'] > section[aria-label="Upload task description file"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;
}


/*Train Dataset file uploader*/

div[data-testid='stFileUploader'] > section[aria-label="Upload Train Dataset"] > input + div {
    display: none;
}

div[data-testid='stFileUploader'] > section[aria-label="Upload Train Dataset"]{
    width:100%;
    padding: 0;
    height: 10%;
    background-color: transparent;
}
section[aria-label="Upload Train Dataset"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#4C7DE7;
        &::after {
            line-height: initial;
            content: "Upload Train Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }

/*Test Dataset Uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload Test Dataset"] > input + div {
    display: none;
}
div[data-testid='stFileUploader'] > section[aria-label="Upload Test Dataset"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;

}
section[aria-label="Upload Test Dataset"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#4C7DE7;
        &::after {
            line-height: initial;
            content: "Upload Test Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }
/*Sample Output Dataset Uploader*/
div[data-testid='stFileUploader'] > section[aria-label="Upload Sample Output Dataset (Optional)"] > input + div {
    display: none;
}

div[data-testid='stFileUploader'] > section[aria-label="Upload Sample Output Dataset (Optional)"]{
    width:100%;
    padding: 0;
    height: 50%;
    background-color: transparent;
}
section[aria-label="Upload Sample Output Dataset (Optional)"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 0;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 80%;
        border: none;
        background: transparent;
        color:#4C7DE7;
        text-align: left;
        &::after {
            line-height: initial;
            content: "Upload Sample Output Dataset";
            text-indent: 0;
            font-weight: bold;

      }
    }


/*Task Description File Uploader*/
section[aria-label="Upload task description file"][data-testid='stFileUploaderDropzone'] > [data-testid='baseButton-secondary'] {
        margin-top: 4px;
        margin-bottom: -1px;
        text-indent: -9999px;
        line-height: 0;
        width: 100%;

        &::after {
            line-height: initial;
            content: "Upload Task Description File";
            text-indent: 0;
            font-weight: bold;

      }
    }

/* Run Autogluon Button*/
div.row-widget stButton{
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 0;
    align-items: center;
}

.stFileUploaderFile {
    display: none
}